
@media screen and (max-width:800px) {
    .container_right_content > div {
        width: calc(50% - 20px);
    }

    .container_right_content .block {
        margin-top: 50px;
    }

    .container_right_content .info > h5 {
        font-size: 8px;
    }

    .container_right_content .info > span {
        font-size: 12px;
    }

    .wrap_icon_menu > img {
        display: inline;
        width: 30px;
        height: 25px;
    }

    
    .blocks_list_workers > div {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: calc(100%);
        background-color: #fff;
        box-shadow: 2px 2px 3px 3px #a5a0a0;
    }

    .blocks_list_workers {
        gap: 50px;
    }

    .wrap_all_container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        padding: 15px;
    }

    .footer_left_content {
        display: flex;
    }

    .footer_left_content > a {
        font-size: 10px;
        margin-right: 5px;
    }

    .footer_right_content {
        display: flex;
        justify-content: end;
        align-items: center;
    }

    .footer_right_content > p {
        font-size: 12px;
    }

    

    .container_menu {
        display: none;
    }

    .next_block_container {
        flex-direction: column;
     }
 
     .block_icon_centre {
         width: 100% !important;
         margin-bottom: 60px;
     }
}

@media screen and (max-width: 1100px) {
    .info {
        margin-top: 0;
    }
}


@media screen and (max-width: 1300px){
    .container_right_content .block {
        margin-top: 50px;
    }

    .container_right_content .info > h5 {
        font-size: 10px;
    }

    .container_right_content .info > span {
        font-size: 14px;
    }

    .block_navigation {
        flex-wrap: wrap;
    }

    .block_navigation > div {
        width: inherit;
    }
}

@media screen and (max-width: 1400px){
    .container_right_content .block {
        margin-top: 50px;
    }

    .container_right_content .info > h5 {
        font-size: 12px;
    }

    .container_right_content .info > span {
        font-size: 16px;
    } 
}


/* ----------------------------------*/








