
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #EAEAEA;
    font-family: sans-serif;
}

i {
    font-family: fontawesome !important;
    font-weight: normal;
}

img {
    border: 0;
    display: block;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.container_menu {
    position: fixed;
    width: 250px;
    height: 100%;
    padding: 20px 0;
    background: #F6F6F6;
    box-shadow: 0 0px 4px 4px #7a7777;
}

.container_menu .title_menu h1 {
    color:  #5C5C5C;
    margin: 20px 40px 20px;
    font-size: 1.5em;
}

.container_menu .menu ul li a {
    display: block;
    padding: 15px 30px;
    color: rgb(70, 68, 68);
    font-size: 1em;
}

.title_menu {
   border-bottom: 1px solid #8f8c8c;
}

ul > li {
    padding: 0 15px;
}

.item {
    padding: 0px 20px;
}

.menu {
    margin-top: 30px;
}

.container_menu .menu ul li a:hover,
.container_menu ul li a.active {
    color: #dffdfd;
    background: rgb(175, 20, 72);
}

.container_right_content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.title_content {
    display: flex;
    padding-left: 265px;
}

.title_content > h2 {
    margin: 44px 0px 0px 20px;
    color: #5C5C5C;
}

.title_content > img {
     margin: 40px 0px 0px 20px;
    display: none;
}

.content {
    padding-left: 265px;
    padding-right: 15px;
}

.icon_right_content {
    display: flex;
    justify-content: center;
    padding: 12px;
}

.container_right_content .icon_right_content {
    width: 55px;
    height: 55px;
    transform: translate(20px, -20px);
}

.col_icon {
    background-color: #448B00;
}

.col_icon_shop {
    background-color: #D89E24;
}

.col_icon_tag {
    background-color: #274D97;
}


.col_icon_paperplane {
    background-color: #B71E51 ;
}

.col_yellow {
    background-color: #D89E24;
}

.col_blue {
    background-color: #274D97;
}

.col_green {
    background-color: #448B00;
}

.col_right {
    background-color: #274D97;
}

tr:nth-child(1) {
    color: #13aebb;
}

tr {
    color: #788178;
}

.block {
    box-shadow: 2px 2px 3px 3px #a5a0a0;
    background: #fff;
    margin-top: 80px;
}

h5 {
    font-size: 0.8rem;
    color: #8f9191;
    font-weight: normal;
}

h4 {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #5C5C5C;
}

.info {
    text-align: right;
    line-height: 2;
    padding: 0px 20px;
    margin-top: -45px;
}

.info > span {
    font-size: 1.5rem;
    color: #605d5d;
}

.info_title > img {
    width: 15px;
    height: 15px;
}

.info_title > span {
    color: #9b9797;
    padding: 0px 0px 0px 10px;
}

.info_title {
    display: flex;
    padding: 20px;
    box-shadow: 0px -9px 0px -8px #979494;
}

.fs {
    font-size: 12px;
}

.container_right_content > div {
    width: calc(25% - 20px);
}

/*     Next Block    */

.block_centered {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 90px;
}

.block_centered > div {
    width: calc(33% - 20px);
    background-color: #fff;
    box-shadow: 2px 2px 3px 3px #a5a0a0;
}

.wraper_img {
    display: flex;
    justify-content: center;
    transform: translate(0px, -30px); 
}

.icon_center {
    width: 90%;
}

.block_title_centre > p {
    font-size: 12px;
    color: #788178;
    margin: 0px 0px 10px;
}

.wraper_block_title_centre {
    display: flex;
    justify-content: center;
    line-height: 2;
}

.block_title_centre {
    width: 90%;
    border-bottom: 2px solid #646464;
}

.block_icon_centre > img {
    width: 100%;
    padding: 10px;
}

.wraper_info_title {
    display: flex;
    justify-content: center;
}

.info_title_center {
    display: flex;
    padding: 10px 0px 20px 0px;
    width: 90%; 
}

.info_title_center > img {
    width: 15px;
    height: 15px;
}

.info_title_center > span {
    color: #9b9797;
    padding: 0px 0px 0px 10px;
}

.blocks_list_workers {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 100px;
}

.blocks_list_workers > div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: calc(50% - 20px);
    background-color: #fff;
    box-shadow: 2px 2px 3px 3px #a5a0a0;
}

.wraper_menu_icon {
    display: flex;
    width: 95%;
    background-color: #D89E24;
    color: #fff;
    transform: translate(0px, -30px);
    padding: 15px;
}

.wraper_menu_icon_right {
    display: flex;
    width: 95%;
    background-color: #274D97;
    color: #fff;
    transform: translate(0px, -30px);
}

.block_navigation > div {
    padding: 15px;
    display: flex;
}

.block_navigation > span {
    padding: 15px;
}

.block_navigation {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.block_navigation_right > h1 {
    font-size: 16px;
    font-weight: normal;
}

.block_navigation_right {
    padding: 15px;
}

table {
    width: 95%;
    border-spacing: 0px 30px;
}

tr {
    box-shadow: 0px 6px 1px -5px #7c7676;
}

td {
    padding: 10px;
}


td > img {
    width: 20px;
    height: 20px;
    object-fit: contain;
}

.img_edit {
    padding: 0px 0px 0px 10px;
}

.fs_salary {
    font-size: 16px;
}

tr > td > p {
    color: #535453;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
}

tr > td:nth-child(4) {
    text-align: end; 
}

tr > td > input {
    width: 20px;
    height: 20px;
}

tr > td:nth-child(3):hover,
tr > td:nth-child(4):hover {
    cursor: pointer;
}

#scales {
    accent-color: #d1d9e1;;
}

.wraper_button:hover {
    background-color: #DEAD49;
    opacity: 1;
    cursor: pointer;
    border-radius: 1px;
}

.wraper_button > img {
    margin-right: 10px;
}

/* Footer */

footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 60px;
    height: 60px;
    border-top: 1px solid #8f8c8c;;
}

.footer {
    position: absolute;
    right: 15px;
    bottom: 0;
    left: 265px;
    height: 60px;
}

footer > div {
    width: calc(50% - 0px);
}

.footer_left_content {
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
}

.footer_left_content > a {
    margin-right: 20px;
    color: #5C5C5C;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    cursor: pointer;
    padding: 10px;
}

.footer_right_content {
    display: flex;
    justify-content: end;
    padding: 20px;
}

.footer_right_content > p {
    margin-right: 20px;
    color: #6c6767;
} 

/* User */

.container_user {
    padding-left: 265px;
    padding-right: 15px;
    display: inline-block;
    margin-top: 40px;
    width: calc(100% - -0px);
}

.title_user {
    display: flex;
    margin: 0px 30px 70px 30px;
    width: calc(100% - 20px);
}

.title_user > img {
    display: none;
    margin-right: 10px;
}

.title_user > h2 {
    color: #5C5C5C;
}

.wrap_container_user {
    display: flex;
    gap: 20px;
}

/* Left Block */

.left_block_info {
    width: calc(80% - 0px);
    background: #fff;
    box-shadow: 2px 2px 3px 3px #a5a0a0;
}

.block_user {
    display: flex;
    justify-content: center;
}

.block_content_user {
    transform: translate(0px, -30px);
    padding: 20px;
    color: #fff;
}

.block_content_user > h2, h3 {
    font-weight: normal;
}

.block_content_user {
    width: 95%;
    background-color: #B71E51 ;
}

.block_info_form {
    display: flex;
    justify-content: space-around;
}

.application_form {
    width: 95%;
    display: flex; 
    justify-content: space-between;
}

.button_up {
    display: flex;
    justify-content: end;
    padding: 20px 0px 20px 0px;
}

.info_form_button {
    background-color: #B71E51;
    padding: 15px 40px 15px 40px;
    cursor: pointer;
}

.input_user {
    width: 100%;
    border: none;
    outline: none;
}

.col_in {
    color: gray;
}

.info_form_button > h1{
    font-size: 16px;
    color: #fff;
    font-weight: bold;
}

.info_form_name_left {
    width: calc(50% - 20px);
    border-bottom: 2px solid gray;
    padding: 30px 0px 10px 0px;
}

.info_form_name_right {
    width: calc(50% - 20px);
    border-bottom: 2px solid gray;
    padding: 30px 0px 10px 0px;
}

.info_form_name_address {
    width: calc(100% - 0px);
    border-bottom: 2px solid gray;
    padding: 30px 0px 10px 0px;
}

textarea {
    border: none;
    outline: none;
    width: 100%;
}

.info_form {
    width: calc(33% - 10px);
    border-bottom: 2px solid gray;
    padding: 20px 0px 10px 0px;
}

.right_block_info_user {
    background-color: #fff;
    width: calc(20% - 10px);
    height: 50%;
    display: block;
    box-shadow: 2px 2px 3px 3px #818181;
}

/* Right block User Icon*/

.wrap_icon_user > img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.wrap_icon_user {
    display: flex;
    justify-content: center;
    transform: translate(0px, -50px);
}

.info_user_profile {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0px 20px 20px 20px;
}

.info_user_profile > h2 {
    font-size: 16px;
    color: #9b9797;
    font-weight: normal;
}

.info_user_profile > h1 {
    font-size: 24px;
    margin-top: 10px;
    color: #4c4a4a;
}

.title_user_profile {
    font-weight: normal;
    color: gray;
    font-size: 14px;
    margin-top: 20px;
    padding: 10px;
}

